body {
    text-align: center;
    background-color: rgb(14, 17, 17);
}

#city {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: rgb(224, 224, 224);
}

  